@font-face { font-family: deathstar; src: url('assets/misc/deathstar.otf'); }

body {
    background-image: url('assets/misc/stars.gif');
    background-size: cover;
    font-family: deathstar;
    color: whitesmoke;
}

#playership {
    height: 55px;
    width: 70px;
}

#main {
    background-image: url('assets/misc/background.gif');
    border: rgb(255, 0, 234) solid 5px;
    height: 800px;
    width: 800px;
}

#flavortext {
    text-align: center;
}

#score, #start {
    width: 800px;
    text-align: center;
}

.enemy {
    width: 90px;
    height: 90px;
    position: absolute;
}

.laser {
    width: 20px;
    height: 20px;
    position: absolute;
}